@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+CZ:wght@100..400&family=Satisfy&display=swap');

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 55px;
    margin: 80px 170px ;
}

.about-title h1 {
    padding: 0 30px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 4px;
}

.border-gd {
    border-bottom: 5px solid;
    border-image-slice: 1;
}

.border-gd-green {
    border-image-source: linear-gradient(90deg, teal 30%, lime);
}

.about-sections {
    display: flex;
    gap: 80px;
}

.about-left {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    width: 400px;
    height: 650px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.image-container {
    position: relative;
    width: 400%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: 30s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
}

.slider {
    position: relative;
    min-width: 100%;
    height: 100%;
}

@keyframes sliding {
    0% {
        transform: translateX(0%);
    }
    20% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(-100%);
    }
    45% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    70% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    90% {
        transform: translateX(-300%);
    }
    95% {
        transform: translateX(-400%);
    }
    100% {
        transform: translateX(-400%);
    }
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skills-title {
    text-align: center;
    font-size: 32px;
    font-family: Playwrite CZ;
}

.skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.skill-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 5px solid rgb(97, 95, 95);
    border-radius: 15px;
    padding: 20px 25px;
    box-sizing: border-box;
    transition: 0.4s;
}

.skill-box:hover {
    transform: scale(1.10);
}

.skill-box h3 {
    font-size: 21px;
    letter-spacing: 1px;
    padding-left: 5px;
} 

.skill-box .skill-level-cont {
    width: 100%;
    border-radius: 50px;
    background: rgb(61, 61, 61);
}

.skill-box .skill-level-cont .skill-bar {
    text-align: right;
    background: linear-gradient(-45deg, teal 30%, lime);
    border-radius: 50px;
    padding-right: 15px;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.quote {
    font-size: 42px;
    color: rgb(164, 164, 165);
    text-align: center;
    font-family: Pacifico;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .about {
        gap: 60px;
        margin: 50px 70px;
        align-items: start;
    }
    .about-title h1 {
        padding: 0;
    }
    .about-sections {
        flex-direction: column;
    }
    .about-left {
        display: none;
    }
    .about-right {
        width: 100%;
    }
    .about-para {
        line-height: 32px;
    }
    .skill-container {
        grid-template-columns: 1fr 1fr;
    }
    .about-skill hr {
        height: 6px;
    }
}

@media (max-width: 505px) {
    .about {
        margin: 50px 30px;
    }
    .skill-box {
        padding: 15px;
        gap: 15px;
    }
}