.contact {
    height: 350px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/contact-background.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 15px 20px -10px black;
}

.contact-container{
    display: flex;
    flex-direction: column;
    padding-top: 170px;
    margin-right: 5px;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
}

.instagram-icon, .linkedin-icon, .github-icon {
    height: 30px;
    padding: 10px 8px 8px;
}

.contact-button {
    border: 3px solid black;
    border-radius: 100px;
    background-color: transparent;
    margin: 0 8px;
    cursor: pointer;
    transition: 0.2s;
}

.contact-button:hover {
    background-color: rgb(220, 95, 0);
    scale: 1.10;
}

.contact-button:active {
    scale: 0.90;
}

