.education {
    display: flex;
    flex-direction: column;
    color: white;
    left: 0;
    right: 0;
    background-color: rgb(55, 58, 64);
}

.edu-text {
    text-align: center;
    font-size: 36px;
    padding: 20px 0;
    font-weight: bold;
}

.education-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    row-gap: 10px;
}

.edu-container {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
    padding-left: 15px;
    border-radius: 50px;
    background-color: rgb(220, 95, 0);
    box-shadow: 0 2px 8px 0px rgb(0, 0, 0);
    margin-bottom: 30px;
}

.edu-image {
    background-color: white;
    border-radius: 50px;
    border: 4px solid rgb(104, 109, 118);
    margin-right: 20px;
}

.hat-image {
    padding: 5px 8px 0;
    height: 60px;
}

.edu-details {
    padding: 5px 0;
}

.edu-title {
    font-size: 16px;
    font-weight: bold;
}

.edu-place, .edu-time {
    font-size: 14px;
    padding-top: 2px;
    padding-left: 10px;
    color: rgb(231, 231, 231);
}


