.self-grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 0 25px;
}

.self-container {
    display: flex;
    flex-direction: column;
}

.profile {
    display: grid;
    grid-template-columns: 550px 350px;
    margin: auto;
}

.profile-image-container {
    text-align: right;
    padding-right: 10px;
}

.profile-image {
    height: 300px;
    border-radius: 150px;
    border: 5px solid white;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.365);
}

.heading {
    padding-top: 20px;
}

.head-text {
    color: white;
    line-height: normal;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

.name-text {
    color: rgb(77, 243, 246);
}

.description {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
}