.projects {
    right: 0;
    left: 0;
    padding: 40px 30px;
}

.project-text {
    color: rgb(55, 58, 64);
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
}

.project-grid {
    display: flex;
    flex-direction: column;    
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    margin: auto;
}

.project-container {
    color: white;
    display: flex;
    flex-direction: row;
    height: 100%;
    max-width: 425px;
    border-radius: 15px;
    background-color: rgb(55, 58, 64);
    box-shadow: 0 5px 10px 0 black;
}

.project-container:hover {
    scale: 1.02;
}
.project-image {
    margin: 14px 15px 10px;
}

.project-icon {
    height: 75px;
    border-radius: 15px;
}

.project-inner-text {
    display: flex;
    flex-direction: column;
    margin: 18px 5px 10px;
    padding-right: 10px;
}

.project-name {
    font-size: 16px;
    font-weight: bold;
}

.project-description {
    font-size: 15px;
    padding-top: 2px;
    padding-right: 2px;
}

@media (max-width: 900px) {
    .project-description {
        display: none;
    }
}