.skillset {
    position: relative;
    height: 400;
    left: 0;
    right: 0;
    background-color: rgb(55, 58, 64);
    color: white;
    padding: 30px 40px;
}

.skill-text {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 25px;
}

@media (max-width: 960px) {
    .skill-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 720px) {
    .skill-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.skill-container {
    border: 4px solid rgb(104, 109, 118);
    border-radius: 15px;
    padding: 20px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.skill-container:hover {
    scale: 1.10;
}

.skill-title {
    font-weight: bold;
    font-size: 24px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.skill-bar {
    width: 100%;
    background-color: rgb(104, 109, 118);
    border-radius: 12px;
}

.skills {
    text-align: right;
    font-weight: bold;
    padding: 2px 5px;
    color: white;
    border-radius: 12px;
    background-color: rgb(220, 95, 0);
}

.c-plus, .java {
    width: 70%;
}

.html-css {
    width: 85%;
}

.js {
    width: 60%;
}

.py {
    width: 80%;
}

.git, .rpa {
    width: 50%;
}

.sql {
    width: 75%;
}